# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.iml
.idea/.idea.APIClient/.idea/encodings.xml
.idea/.idea.APIClient/.idea/indexLayout.xml
.idea/.idea.APIClient/.idea/contentModel.xml
.idea/.idea.APIClient/.idea/modules.xml
.idea/.idea.APIClient/.idea/vcs.xml
.idea/.idea.APIClient/.idea/workspace.xml
.idea/.idea.APIClient/.idea/misc.xml
