.navbar li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

@media (min-width: 768px) {

    .navbar {
        border-radius: 0;
        border-width: 0;
        height: calc(100vh - 100px);
        width: 100%;
    }

    .navbar-header {
        float: none;
    }

    .navbar .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0;
    }

    .navbar .container-fluid {
        padding: 0;
        margin: 0;
    }

    .navbar .container-fluid .navbar-brand {
        margin: 0;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }

    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    #body {
        max-height: calc(100vh - 100px);
        /*overflow-y: scroll;*/
    }

    .react-bs-container-body {
        max-height: 450px !important;
    }

    .row {
        margin: 0 0 0 0;
    }

    .react-datepicker {
        font-size: 14px !important;
    }

    .treeview {
        height: 600px;
    }

    .konvajs-content {
        background: lightgray;
    }

    #EditorCol {
        background: url('img/background.png') repeat center center;
        height: 700px;
        border-width: 5px;
        border-color: black;
    }

    .srd-diagram  {
        background: black !important;
        height: 300px !important;
    }
}
